# Loading data to Supabase Posgres Database

We have decided to try and host the database using Supabase as the backend. Hosting this on a Supabase's cloud, we could more easily scale and build applications that can access that database. We will eventually try this with the isochrone project.

In [1]:
import pandas as pd
import os
from supabase import create_client, Client

## Supabase API

We have created a database on Supabase off-code. This was created using my(nabilersyad) account under that organization. The database mirrors the SQLite database.
Details on the created database below.

SUPABASE_URL = 'saved locally in the shell. Get the details from supabase dashboard'  
SUPABASE_KEY = 'saved in the shell. Get the details from supabase dashboard'

database: transit-stations-database  
tables: 1. stations  
        2. entrances  
        3. station_entrances

In [2]:
#declaring the supabase client we will working with
url: str = os.environ.get("SUPABASE_URL")
key: str = os.environ.get("SUPABASE_KEY")
supabase: Client = create_client(url, key)

In [3]:
#signin a user
#sign_in_response = supabase.auth.sign_in_with_password({"email": "nabile95@hotmail.com", "password": ""})

In [4]:

#user = supabase.auth.get_user()

## Stations table

Combining the various CSVs of different cities and storing them in one table in the database

In [5]:

# Define the directory of cleansed data to transfer to sql
cleansed_data_directory = 'data_cleansed'
cleansed_kl_file = 'klang_valley_stations_cleansed.csv'
cleansed_montreal_file = 'montreal_stations_cleansed.csv'
cleansed_singapore_file = 'singapore_stations_cleansed.csv'
cleansed_combined_file = 'combined_stations_cleansed.csv'

# read cleaned dataframes
kl_data = pd.read_csv(os.path.join(cleansed_data_directory, cleansed_kl_file))
montreal_data = pd.read_csv(os.path.join(cleansed_data_directory, cleansed_montreal_file))
singapore_data = pd.read_csv(os.path.join(cleansed_data_directory, cleansed_singapore_file))


# Combine all the dataframes
stations_data_local = pd.concat([kl_data, montreal_data, singapore_data], axis=0, ignore_index=True)

stations_data_local.index.name = 'station_id'
stations_data_local.to_csv(os.path.join(cleansed_data_directory, cleansed_combined_file), index=True)


# Print out the combined dataframe
stations_data_local

,name,station_code,service_provider_name,latitude,longitude,route_id,route_name,line_number,line_colour,colour_hex_code,region,odonym,namesake,opened
station_id,,,,,,,,,,,,,,
0,KL Sentral,KA01,Keretapi Tanah Melayu,3.134603,101.686567,KA,Seremban Line,1,Blue,#0000FF,Klang Valley,NaN,NaN,NaN
1,Kuala Lumpur,KA02,Keretapi Tanah Melayu,3.139513,101.693789,KA,Seremban Line,1,Blue,#0000FF,Klang Valley,NaN,NaN,NaN
2,Bank Negara,KA03,Keretapi Tanah Melayu,3.154542,101.693010,KA,Seremban Line,1,Blue,#0000FF,Klang Valley,NaN,NaN,NaN
3,Putra,KA04,Keretapi Tanah Melayu,3.165005,101.691234,KA,Seremban Line,1,Blue,#0000FF,Klang Valley,NaN,NaN,NaN
4,Mid Valley,KB01,Keretapi Tanah Melayu,3.118528,101.678985,KB,Seremban Line,1,Blue,#0000FF,Klang Valley,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,Outram Park MRT Station,TE17,NaN,1.280400,103.840100,TEL,Thomson-East Coast Line,NaN,Brown,#734538,Singapore,NaN,NaN,NaN
532,Maxwell MRT Station,TE18,NaN,1.280600,103.844000,TEL,Thomson-East Coast Line,NaN,Brown,#734538,Singapore,NaN,NaN,NaN
533,Shenton Way MRT Station,TE19,NaN,1.277540,103.850770,TEL,Thomson-East Coast Line,NaN,Brown,#734538,Singapore,NaN,NaN,NaN
534,Marina Bay MRT Station,TE20,NaN,1.275290,103.854810,TEL,Thomson-East Coast Line,NaN,Brown,#734538,Singapore,NaN,NaN,NaN
535,Gardens By The Bay • Taman Di Pesisiran MRT St...,TE22,NaN,1.279000,103.867800,TEL,Thomson-East Coast Line,NaN,Brown,#734538,Singapore,NaN,NaN,NaN

In [6]:
response = supabase.table('stations').select("*").execute()
data,_ = response
stations_data_supa = pd.DataFrame(data[1])
stations_data_supa.set_index('station_id',inplace=True)
stations_data_supa

,name,station_code,service_provider_name,latitude,longitude,route_id,route_name,line_number,line_colour,colour_hex_code,region,odonym,namesake,opened
station_id,,,,,,,,,,,,,,
1,Kuala Lumpur,KA02,Keretapi Tanah Melayu,3.139513,101.693789,KA,Seremban Line,1,Blue,#0000FF,Klang Valley,None,None,None
2,Bank Negara,KA03,Keretapi Tanah Melayu,3.154542,101.693010,KA,Seremban Line,1,Blue,#0000FF,Klang Valley,None,None,None
3,Putra,KA04,Keretapi Tanah Melayu,3.165005,101.691234,KA,Seremban Line,1,Blue,#0000FF,Klang Valley,None,None,None
4,Mid Valley,KB01,Keretapi Tanah Melayu,3.118528,101.678985,KB,Seremban Line,1,Blue,#0000FF,Klang Valley,None,None,None
5,Seputeh,KB02,Keretapi Tanah Melayu,3.113697,101.681299,KB,Seremban Line,1,Blue,#0000FF,Klang Valley,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,Maxwell MRT Station,TE18,None,1.280600,103.844000,TEL,Thomson-East Coast Line,None,Brown,#734538,Singapore,None,None,None
533,Shenton Way MRT Station,TE19,None,1.277540,103.850770,TEL,Thomson-East Coast Line,None,Brown,#734538,Singapore,None,None,None
534,Marina Bay MRT Station,TE20,None,1.275290,103.854810,TEL,Thomson-East Coast Line,None,Brown,#734538,Singapore,None,None,None
535,Gardens By The Bay • Taman Di Pesisiran MRT St...,TE22,None,1.279000,103.867800,TEL,Thomson-East Coast Line,None,Brown,#734538,Singapore,None,None,None
0,KL Sentral,KA01,Keretapi Tanah Melayu,3.134603,101.686567,KA,Seremban Line,1,Blue,#0000FF,Klang Valley,None,None,None

In [7]:
# Perform an outer join on the dataframes
merged_data = pd.merge(stations_data_local, stations_data_supa, how='outer', indicator=True)

In [8]:
# Case 1 and 2: rows exist in both dataframes
both_data = merged_data[merged_data['_merge'] == 'both']
both_data = both_data.drop(columns=['_merge'])

In [9]:
#both_data[stations_data_local.columns].equals(both_data[stations_data_supa.columns])

In [10]:
identical_rows_mask = [both_data.loc[i, stations_data_local.columns].equals(both_data.loc[i, stations_data_supa.columns])
                        for i in both_data.index]
identical_rows = both_data[identical_rows_mask]

In [11]:
different_rows_mask= [not b for b in identical_rows_mask]
different_rows = both_data[different_rows_mask]

# Replace all NaN values in the DataFrame with None
different_rows = different_rows.where(pd.notna(different_rows), None)

different_rows

Empty DataFrame
Columns: [name, station_code, service_provider_name, latitude, longitude, route_id, route_name, line_number, line_colour, colour_hex_code, region, odonym, namesake, opened]
Index: []

In [12]:

# For the different rows, you want to update data_supabase with data from data_local
for index, row in different_rows.iterrows():
    # Use Supabase update method
    # Note: replace 'id' and 'your_table' with your actual id column name and table name
    data, error = supabase.table('stations').update(row.to_dict()).eq('station_id', row['station_id']).execute()

# Case 3: rows in data_local but not in data_supabase
only_local = merged_data[merged_data['_merge'] == 'left_only']

# For these rows, you want to insert into data_supabase
data, error = supabase.table('stations').insert(only_local.to_dict('records')).execute()

# Case 4: rows not in data_local but in data_supabase
only_supabase = merged_data[merged_data['_merge'] == 'right_only']

# For these rows, you want to delete from data_supabase
for index, row in only_supabase.iterrows():
    # Use Supabase delete method
    data, error = supabase.table('stations').delete().eq('station_id', row['station_id']).execute()

## Entrances tables

There are two entrances tables that we need to create. We'll call them entrances and station_entrances

In [52]:
cleansed_entrances = 'klang_valley_entrances_cleansed.csv'

# read cleaned entrances dataframes
entrances_data_local = pd.read_csv(os.path.join(cleansed_data_directory, cleansed_entrances))

entrances_data_local = entrances_data_local.where(pd.notna(entrances_data_local), None)
entrances_data_local.set_index('entrance_id',inplace=True)
entrances_data_local = entrances_data_local.sort_values(by='entrance_id')

entrances_data_local

              longitude  latitude entrance_destination entrance_name
entrance_id
1544031348   101.711374  3.145929                 None             B
1631412559   101.604952  3.113222                 None          None
2278515570   101.644077  3.050650                 None          None
2686635178   101.699182  3.138565                 None             C
3308608988   101.712717  3.158762                 None          None
...                 ...       ...                  ...           ...
11052165924  101.694160  3.161349                 None          None
11061429683  101.671755  3.214623                 None          None
11061429685  101.672075  3.214698                 None          None
11061429686  101.672324  3.214263                 None          None
11066919329  101.638193  3.104411                 None          None

[234 rows x 4 columns]

In [53]:
response = supabase.table('entrances').select("*").execute()
data,_ = response
entrances_data_supa = pd.DataFrame(data[1])
entrances_data_supa.set_index('entrance_id',inplace=True)
entrances_data_supa = entrances_data_supa.sort_values(by='entrance_id')

entrances_data_supa

              longitude  latitude entrance_destination entrance_name
entrance_id
1544031348   101.711374  3.145929                 None             B
1631412559   101.604952  3.113222                 None          None
2278515570   101.644077  3.050650                 None          None
2686635178   101.699182  3.138565                 None             C
3308608988   101.712717  3.158762                 None          None
...                 ...       ...                  ...           ...
10839997852  101.657207  2.949712   Off Persiaran APEC             A
10860751179  101.695226  3.173223                 None             D
10864116957  101.731475  3.165190                 None          None
10949038882  101.680826  3.237606                 None          None
10949038884  101.681439  3.237779                 None          None

[216 rows x 4 columns]

In [88]:
# Perform an outer join on the dataframes
merged_data = pd.merge(entrances_data_local,entrances_data_supa,how='outer',left_index=True,right_index=True,indicator=True)

# Case 1 and 2: rows exist in both dataframes
both_data = merged_data[merged_data['_merge'] == 'both']
both_data = both_data.drop(columns=['_merge'])

In [89]:
merged_data

,longitude_x,latitude_x,entrance_destination_x,entrance_name_x,longitude_y,latitude_y,entrance_destination_y,entrance_name_y,_merge
entrance_id,,,,,,,,,
1544031348,101.711374,3.145929,None,B,101.711374,3.145929,None,B,both
1631412559,101.604952,3.113222,None,None,101.604952,3.113222,None,None,both
2278515570,101.644077,3.050650,None,None,101.644077,3.050650,None,None,both
2686635178,101.699182,3.138565,None,C,101.699182,3.138565,None,C,both
3308608988,101.712717,3.158762,None,None,101.712717,3.158762,None,None,both
...,...,...,...,...,...,...,...,...,...
11052165924,101.694160,3.161349,None,None,NaN,NaN,NaN,NaN,left_only
11061429683,101.671755,3.214623,None,None,NaN,NaN,NaN,NaN,left_only
11061429685,101.672075,3.214698,None,None,NaN,NaN,NaN,NaN,left_only
11061429686,101.672324,3.214263,None,None,NaN,NaN,NaN,NaN,left_only
11066919329,101.638193,3.104411,None,None,NaN,NaN,NaN,NaN,left_only

In [66]:
merged_data['_merge'].value_counts()

_merge
both          215
left_only      19
right_only      1
Name: count, dtype: int64

In [80]:
both_data

,longitude_x,latitude_x,entrance_destination_x,entrance_name_x,longitude_y,latitude_y,entrance_destination_y,entrance_name_y
entrance_id,,,,,,,,
1544031348,101.711374,3.145929,None,B,101.711374,3.145929,None,B
1631412559,101.604952,3.113222,None,None,101.604952,3.113222,None,None
2278515570,101.644077,3.050650,None,None,101.644077,3.050650,None,None
2686635178,101.699182,3.138565,None,C,101.699182,3.138565,None,C
3308608988,101.712717,3.158762,None,None,101.712717,3.158762,None,None
...,...,...,...,...,...,...,...,...
10839997852,101.657207,2.949712,Off Persiaran APEC,A,101.657207,2.949712,Off Persiaran APEC,A
10860751179,101.695226,3.173223,Jalan Tun Razak,D,101.695226,3.173223,None,D
10864116957,101.731475,3.165190,None,None,101.731475,3.165190,None,None
10949038882,101.680826,3.237606,None,None,101.680826,3.237606,None,None
10949038884,101.681439,3.237779,None,None,101.681439,3.237779,None,None

In [110]:
identical_rows_mask = [entrances_data_local.loc[i, entrances_data_local.columns].equals(entrances_data_supa.loc[i, entrances_data_supa.columns])
                        for i in both_data.index]
identical_rows = both_data[identical_rows_mask]
identical_rows = entrances_data_local.loc[identical_rows.index]
identical_rows

              longitude  latitude entrance_destination entrance_name
entrance_id
1544031348   101.711374  3.145929                 None             B
1631412559   101.604952  3.113222                 None          None
2278515570   101.644077  3.050650                 None          None
2686635178   101.699182  3.138565                 None             C
3308608988   101.712717  3.158762                 None          None
...                 ...       ...                  ...           ...
10830050822  101.687762  3.132827                 None             C
10839997852  101.657207  2.949712   Off Persiaran APEC             A
10864116957  101.731475  3.165190                 None          None
10949038882  101.680826  3.237606                 None          None
10949038884  101.681439  3.237779                 None          None

[178 rows x 4 columns]

In [114]:
different_rows_mask= [not b for b in identical_rows_mask]
different_rows = both_data[different_rows_mask]

# Replace all NaN values in the DataFrame with None
different_rows = different_rows.where(pd.notna(different_rows), None)
different_rows = entrances_data_local.loc[different_rows.index]

different_rows

              longitude  latitude         entrance_destination entrance_name
entrance_id
4952299496   101.729057  3.111715     Velodrom KL;Jalan Cheras             B
5261535560   101.607848  3.155939                Jalan PJU 7/1             C
5261535561   101.608202  3.155933                Jalan PJU 7/1             B
5261535570   101.609118  3.154899             Persiaran Surian             A
5261535576   101.609131  3.155588       Surian Tower;The Curve             D
5386930796   101.695428  3.172515       Hentian Bas Titiwangsa          None
5392028001   101.719112  3.159893                         None          None
5469085305   101.774599  3.048335       Bandar Tun Hussein Onn             A
5469085306   101.774288  3.048340                  Park & Ride             B
5469085437   101.740646  3.091482                         None             B
5469085483   101.773006  3.062353               Taman Sri Raya             A
5469085491   101.772788  3.061170            Taman Kota Cheras             C
5469085492   101.773552  3.061641               Taman Sri Raya             B
5469085625   101.772025  3.027369                 Jalan Cheras             B
5469085628   101.783749  3.000459              Jalan Cheras-KL             A
5469085629   101.783797  3.001333                   KPJ Kajang             B
5469085633   101.763735  3.071674  Taman Suntex;Jalan Kinabalu             A
5469085650   101.729684  3.111830     Taman Pertama;Jalan 2/90             A
5469085653   101.773105  3.041322                 Jalan SS 2/2             A
5484250467   101.642764  3.128354                  Jalan 16/11             A
5484616509   101.593617  3.149892                Jalan PJU 5/8             B
5484616510   101.593598  3.149428             Persiaran Surian             A
5485710268   101.718419  3.160407                         None          None
5726983880   101.745862  3.077431                         None             C
7056476413   101.644748  3.050993                         None          None
7308309728   101.772671  3.040699               Jalan Balakong             B
7702628710   101.790890  2.983821                  Jalan Bukit             B
9358657242   101.594856  3.150034                 Sunway Nexis             C
9849423415   101.580461  3.206420                  Pintu Utama             A
9849457821   101.580906  3.205728                         None             B
9900002870   101.717854  3.161658                         None             B
9913027336   101.695385  3.185464                         None             A
9914411090   101.704732  3.041676                  Jalan Utama             A
9983121350   101.696498  3.149125                         None             C
10223843931  101.790085  2.982981                   Jalan Reko             A
10271036605  101.718163  3.162590                         None             A
10860751179  101.695226  3.173223              Jalan Tun Razak             D

In [115]:
different_rows = different_rows.reset_index(drop=False)

In [116]:

# For the different rows, you want to update data_supabase with data from data_local
for index, row in different_rows.iterrows():
    # Use Supabase update method
    # Note: replace 'id' and 'your_table' with your actual id column name and table name
    data, error = supabase.table('entrances').update(row.to_dict()).eq('entrance_id', row['entrance_id']).execute()

In [119]:

# Case 3: rows in data_local but not in data_supabase

only_local = merged_data[merged_data['_merge'] == 'left_only']
only_local = only_local.drop(columns=['_merge'])
only_local

,longitude_x,latitude_x,entrance_destination_x,entrance_name_x,longitude_y,latitude_y,entrance_destination_y,entrance_name_y
entrance_id,,,,,,,,
5737775567,101.752959,3.138617,Taman Cahaya;Taman Nirwana,None,NaN,NaN,NaN,NaN
5759847421,101.663256,3.144283,None,KL2333,NaN,NaN,NaN,NaN
7629425122,101.756469,3.140678,None,None,NaN,NaN,NaN,NaN
9913027320,101.695604,3.185932,None,None,NaN,NaN,NaN,NaN
9942835610,100.366719,5.393692,None,None,NaN,NaN,NaN,NaN
10246792131,101.740727,3.091086,None,C,NaN,NaN,NaN,NaN
10941247782,101.752945,3.138276,Taman Cahaya;Pandan Indah,None,NaN,NaN,NaN,NaN
11032999050,101.706130,3.102146,Salak Selatan;Pekan Salak Selatan;Desa Petaling,None,NaN,NaN,NaN,NaN
11032999053,101.706463,3.102026,Bandar Sri Permaisuri,None,NaN,NaN,NaN,NaN
11033916949,101.593926,3.149417,Tropicana Gardens Mall,None,NaN,NaN,NaN,NaN
11039579993,101.693396,3.166758,Sunway Putra Mall,None,NaN,NaN,NaN,NaN
11039579994,101.693731,3.167009,Chow Kit,None,NaN,NaN,NaN,NaN
11039725697,101.696276,3.149395,None,None,NaN,NaN,NaN,NaN
11052165913,101.701734,3.156880,Jalan Raja Abdullah,None,NaN,NaN,NaN,NaN
11052165924,101.694160,3.161349,None,None,NaN,NaN,NaN,NaN
11061429683,101.671755,3.214623,None,None,NaN,NaN,NaN,NaN
11061429685,101.672075,3.214698,None,None,NaN,NaN,NaN,NaN
11061429686,101.672324,3.214263,None,None,NaN,NaN,NaN,NaN
11066919329,101.638193,3.104411,None,None,NaN,NaN,NaN,NaN

In [122]:
only_local = entrances_data_local.loc[only_local.index]
only_local = only_local.where(pd.notna(only_local), None)
only_local = only_local.reset_index(drop=False)

only_local

,entrance_id,longitude,latitude,entrance_destination,entrance_name
0,5737775567,101.752959,3.138617,Taman Cahaya;Taman Nirwana,None
1,5759847421,101.663256,3.144283,None,KL2333
2,7629425122,101.756469,3.140678,None,None
3,9913027320,101.695604,3.185932,None,None
4,9942835610,100.366719,5.393692,None,None
5,10246792131,101.740727,3.091086,None,C
6,10941247782,101.752945,3.138276,Taman Cahaya;Pandan Indah,None
7,11032999050,101.706130,3.102146,Salak Selatan;Pekan Salak Selatan;Desa Petaling,None
8,11032999053,101.706463,3.102026,Bandar Sri Permaisuri,None
9,11033916949,101.593926,3.149417,Tropicana Gardens Mall,None
10,11039579993,101.693396,3.166758,Sunway Putra Mall,None
11,11039579994,101.693731,3.167009,Chow Kit,None
12,11039725697,101.696276,3.149395,None,None
13,11052165913,101.701734,3.156880,Jalan Raja Abdullah,None
14,11052165924,101.694160,3.161349,None,None
15,11061429683,101.671755,3.214623,None,None
16,11061429685,101.672075,3.214698,None,None
17,11061429686,101.672324,3.214263,None,None
18,11066919329,101.638193,3.104411,None,None

In [123]:

# For these rows, you want to insert into data_supabase
data, error = supabase.table('entrances').insert(only_local.to_dict('records')).execute()

In [124]:
# Case 4: rows not in data_local but in data_supabase
only_supabase = merged_data[merged_data['_merge'] == 'right_only']
only_supabase = only_supabase.drop(columns=['_merge'])
only_supabase

,longitude_x,latitude_x,entrance_destination_x,entrance_name_x,longitude_y,latitude_y,entrance_destination_y,entrance_name_y
entrance_id,,,,,,,,
5469085434,NaN,NaN,NaN,NaN,101.740791,3.091162,None,C

In [126]:
only_supabase = entrances_data_supa.loc[only_supabase.index]
only_supabase = only_supabase.where(pd.notna(only_supabase), None)
only_supabase = only_supabase.reset_index(drop=False)
only_supabase

   entrance_id   longitude  latitude entrance_destination entrance_name
0   5469085434  101.740791  3.091162                 None             C

In [127]:

# For these rows, you want to delete from data_supabase
for index, row in only_supabase.iterrows():
    # Use Supabase delete method
    data, error = supabase.table('entrances').delete().eq('entrance_id', row['entrance_id']).execute()

## Station Entrances tables

This table tracks the relationship between station and entrances

In [ ]:
cleansed_station_entrances= 'klang_valley_stations_entrances_relation_cleansed.csv'

station_entrances_data = pd.read_csv(os.path.join(cleansed_data_directory, cleansed_station_entrances))