In [1]:
import geopandas as gpd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:

# Load GeoJSON file
gdf = gpd.read_file('data/export.geojson')

# Print the GeoDataFrame
gdf

,id,@id,destination,highway,level,name,name:en,name:ms,name:zh,railway,ref,wheelchair,geometry
0,node/1544031348,node/1544031348,NaN,NaN,NaN,B,NaN,NaN,NaN,subway_entrance,B,NaN,POINT (101.71137 3.14593)
1,node/1631412559,node/1631412559,NaN,NaN,0,B,NaN,NaN,NaN,subway_entrance,NaN,NaN,POINT (101.60495 3.11322)
2,node/2278515570,node/2278515570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,subway_entrance,NaN,NaN,POINT (101.64408 3.05065)
3,node/2686635178,node/2686635178,NaN,NaN,NaN,C,C,C,C,subway_entrance,C,NaN,POINT (101.69918 3.13856)
4,node/3308608988,node/3308608988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,subway_entrance,NaN,NaN,POINT (101.71272 3.15876)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,node/10839997852,node/10839997852,Off Persiaran APEC,NaN,0,A,A,A,A,subway_entrance,A,NaN,POINT (101.65721 2.94971)
212,node/10860751179,node/10860751179,NaN,NaN,0,D,NaN,NaN,NaN,subway_entrance,D,NaN,POINT (101.69523 3.17322)
213,node/10864116957,node/10864116957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,subway_entrance,NaN,NaN,POINT (101.73148 3.16519)
214,node/10949038882,node/10949038882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,subway_entrance,NaN,NaN,POINT (101.68083 3.23761)
215,node/10949038884,node/10949038884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,subway_entrance,NaN,NaN,POINT (101.68144 3.23778)